.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125em;
}

body,
input[type='text']:disabled {
  background: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.navbar-brand{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color:whitesmoke !important;
}


.bg-light {
  background-color: #333333eb !important;
}